#logo{
    display: grid;
    grid-template-columns: auto 90vh auto;
    grid-template-areas: ". logo .";
    height: 5vh;
    width: 100%;


    @include md{
        grid-template-columns: auto 85vw auto;
    }

    @include lg{
        grid-template-columns: auto 80vw auto;
    }

    @include sm{
        grid-template-columns: auto 75vw auto;
    }
    >div{
grid-area: logo;
display: flex;
justify-content: center;
align-items: center;
height: 100%;

svg{

    LaurensBakery {
        display: none
    }


}

    }
}