#preloader{

    display: grid;
    grid-template-columns: auto 90vw auto;
    grid-template-areas: ". preloader .";
// on top of all the other content
position: absolute;
height: 100vh;
width: 100%;
z-index: 1000;
background-color: white;

.dog{
    visibility: hidden;
}


// #dog1{
//     visibility: hidden;
// }
// #dog2{
//     visibility: hidden;
// }
// #dog3{
//     visibility: hidden;
// }
// #dog4{
//     visibility: hidden;
// }
// #dog5{
//     visibility: hidden;
// }
// #dog6{
//     visibility: hidden;
// }
// #dog7{
//     visibility: hidden;
// }
// #dog8{
//     visibility: hidden;
// }
// #dog9{
//     visibility: hidden;
// }
// #dog10{
//     visibility: hidden;
// }
// #dog11{
//     visibility: hidden;
// }
// #dog12{
//     visibility: hidden;
// }
// #dog13{
//     visibility: hidden;
// }
// #dog14{
//     visibility: hidden;
// }
// #dog15{
//     visibility: hidden;
// }
// #dog16{
//     visibility: hidden;
// }
// #dog17{
//     visibility: hidden;
// }
// #dog18{
//     visibility: hidden;
// }
// #dog19{
//     visibility: hidden;
// }
// #dog20{
//     visibility: hidden;
// }
// #dog21{
//     visibility: hidden;
// }
// #dog22{
//     visibility: hidden;
// }
// #dog23{
//     visibility: hidden;
// }




@include md{
    grid-template-columns: auto 90vw auto;
}

@include lg{
    grid-template-columns: auto 90vw auto;
}

@include xl{
    grid-template-columns: auto 90vw auto;
}

    >div{
        grid-area: preloader;
        // 100% of the hieght of the parent 
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;


        svg{


        }
    }
}