/* =============
    Header
============= */
header{
    position: fixed;
    width: 100%;
    background-color: $lightpink;
    z-index: 1000;

    >div{
display: grid;
grid-template-columns: 35% auto;
padding: 8px 16px;

aside{
    a{
        display: inline-block;
    }
}
section{
    padding-right: 160px;
}


    }
    
}